<div>
  <div class="container">
    <ul>
      <li style="list-style: none">
        <h1 style="color: rgb(141, 21, 227)" *ngIf="user$ | async as user">
          Welcome {{ user.email }}!!
        </h1>
      </li>
    </ul>
    <button mat-button mat-raised-button color="primary" (click)="openDialog()">
      Add Product
    </button>
  </div>

  <div class="container">
    <div #card style="margin-top: 20px">
      <mat-card class="mybutton">
        <mat-card-header>
          <mat-card-title class="text-oneline">Order List</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div style="margin-top: 10px">
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. Mia"
          #input
        />
      </mat-form-field>

      <div class="mat-elevation-z8 mybutton">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- ID Column -->
          <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container> -->

          <!-- Product Name Column -->
          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Product Name
            </th>
            <td mat-cell *matCellDef="let row">{{ row.productName }}</td>
          </ng-container>

          <!-- Quantity Column -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
            <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
          </ng-container>

          <!-- Process Column -->
          <ng-container matColumnDef="process">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Process</th>
            <td mat-cell *matCellDef="let row">{{ row.process }}</td>
          </ng-container>

          <!-- date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>DATE</th>
            <td mat-cell *matCellDef="let row">{{ row.date | date }}</td>
          </ng-container>
          <!-- Comment Column -->
          <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
            <td mat-cell *matCellDef="let row">{{ row.comment }}</td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let row">{{ row.status }}</td>
          </ng-container>

          <!-- payment button -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="primary">
                <mat-icon>payment</mat-icon>
                <span>Pay</span>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the filter "{{ input.value }}"
            </td>
          </tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page of users"
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
