<h1 mat-dialog-title>Add Product Form</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input
        formControlName="productName"
        matInput
        placeholder="Product Name"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Quantity</mat-label>
      <input
        formControlName="quantity"
        matInput
        type="number"
        placeholder="Enter Quantity"
      />
    </mat-form-field>
    <div>
      <label>Select Process: </label>
      <mat-radio-group formControlName="process">
        <mat-radio-button value="Fast">Fast</mat-radio-button>
        <mat-radio-button value="Normal">Normal</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Comment</mat-label>
      <textarea formControlName="comment" matInput></textarea>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-action>
  <mat-error *ngIf="warning !== ''">{{ warning }}</mat-error>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" (click)="addProduct()">Save</button>
</div>
